<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common_head :: common_header}">
    <meta charset="UTF-8">
    <title>차트 타이틀</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{common/common_sidebar :: common_sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{common/common_topbar :: common_topbar(${session.get('loginMember')?.userName})}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800" th:text="#{page.charts}">Charts</h1>
                <p class="mb-4">차트 페이지 입니다. 월 말 누적 확진자 수를 보여주는 Area Chart,<br> 월 별 사망자를 보여주는 Bar Chart,<br>
                    비확진자와 확진자, 확진자 비율을 한눈에 보여주는 Pie Chart를 확인할 수 있습니다.</p>

                <!-- Content Row -->
                <div class="col-xl-8 col-lg-7">

                    <!-- Area Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Area Chart - 월별 확진자</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                        </div>
                    </div>

                    <!-- Bar Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Bar Chart - 월별 사망자</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-bar">
                                <canvas id="myBarChart"></canvas>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-4 col-lg-5">

                    <!-- Donut Chart -->
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Pie Chart - 확진자 비율</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> 비확진자 수
                                        </span>
                                <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> 비 사망 확진자 수
                                        </span>
                                <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> 사망 확진자 수
                                        </span>
                            </div>
                            <hr>
                            전체 인구는 2022년 09월 총 인구수인 51,466,658을 기준으로 하고 있습니다.
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script th:inline="javascript">
        var areaLabels = [[${areaLabels}]];
        var areaValues = [[${areaValues}]];
        var barLabels = [[${barLabels}]];
        var barValues = [[${barValues}]];
        var pieChartValueList = [[${pieChartValueList}]];
    </script>

    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="js/demo/chart-bar-demo.js"></script>

</div>
</body>
</html>